<div class="container">
  <h2>Latest games</h2>
  {{#each matchScores.matches as |match|}}
    <div class="match">
      <div>
        <span class="{{if match.firstWon 'winner'}}"></span>
        <span class="match__player-avatar">
          <img src="{{match.playerOnePic}}" alt="First player's picture">
        </span>
        <span>{{match.playerOneName}}</span>
        <span class="match__latest-score">{{match.latestScore}}</span>
        <span>{{match.playerTwoName}}</span>
        <span class="match__player-avatar">
          <img src="{{match.playerTwoPic}}" alt="Second player's picture">
        </span>
        <span class="{{unless match.firstWon 'winner'}}"></span>
        <span class="match__delete fa fa-trash" {{action 'deleteMatch' match}}></span>
      </div>
      <div class="match__previous">
        {{#each match.previousScores as |previousScore|}}
          {{previousScore}} |
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>