<div class="add-game">
  <h2>Add games</h2>
  <form action="#">
    {{input name='playerOne' placeholder='Look for player' value=value input=(action 'searchPlayer')}}
  <div class="add-game__suggestions">
    {{#each matched as |matchedPlayer|}}
      <span name='playerOne' onclick={{action 'setPlayer' matchedPlayer.name}}>{{matchedPlayer.name}}</span>
    {{/each}}
  </div>
  <span class="add-game__versus">VS</span>
    {{input name='playerOne' placeholder='Look for player' value=value input=(action 'searchPlayer')}}
  <div class="add-game__suggestions">
    {{#each matched as |matchedPlayer|}}
      <span name='playerTwo' onclick={{action 'setPlayer' matchedPlayer.name}}>{{matchedPlayer.name}}</span>
    {{/each}}
  </div>
  <div>
    <button class="add-game__button" {{action 'addGame'}}>Add game</button>
  </div>ะกะต
</form>
</div>